---
import Feature from "../components/Feature.astro"
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/NavBar.astro";
import Plus from "../components/Plus.astro";
---

<div class="w-screen h-screen bg-base px-20 flex items-center justify-center">
    <NavBar />
    <div class="text-text mr-auto pr-10 pl-14 w-1/2">
        <div class="text-5xl font-bold leading-[60px]">Get your git contributions in your terminal.</div>
        <div class="font-semibold mt-4 text-overlay1 tracking-wide">Takoyaki is an open source tool that prints your git contributions in your terminal in a similar way you are gonna find in the providers. It is customizable, and blazingly fast!</div>
        <div class="features mt-8 flex flex-col gap-y-5">
            <Feature title="Open source" />
            <Feature title="Blazingly fast" />
            <Feature title="Highly customizable" />
            <Feature title="Cross platform support" />
            <Feature title="Plugins that support famous providers" />
        </div>
        <a href="/install">
            <button class="mt-10 bg-surface0/40 p-4 px-14 rounded-lg text-overlay3 font-semibold">Behold the power</button>
        </a>
    </div>
    <div class="banner w-5/12 relative ml-10">
        <img src="/banner.png" class="w-full" />
        <div class="flex text-surface2 gap-x-1.5 absolute top-[-16%] left-[-7.2%]">
            <div class="flex flex-col justify-end w-fit gap-y-2">
                <Plus />
                <Plus />
            </div>
            <div class="flex flex-col gap-y-2">
                <Plus />
                <Plus />
                <Plus />
                <Plus />
            </div>
            <div class="flex flex-col gap-y-2">
                <Plus />
                <Plus />
            </div>
        </div>
        <div class="flex text-surface2 gap-x-1.5 absolute top-[89%] left-[97.5%]">
            <div class="flex flex-col justify-end w-fit gap-y-2">
                <Plus />
                <Plus />
            </div>
            <div class="flex flex-col gap-y-2">
                <Plus />
                <Plus />
                <Plus />
                <Plus />
            </div>
            <div class="flex flex-col gap-y-2">
                <Plus />
                <Plus />
            </div>
        </div>
    </div>
</div>
